.App {
  text-align: left;
  justify-content: center;
}

.App h2 {
  font-size: 40px;
  color: rgb(7, 207, 141);
  margin: 30px 0;
}

.App h3 {
  font-size: 30px;
  color: rgb(2, 95, 64);
}

.App form {
  text-align: center;
}
