.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: #f5faf5;
  padding: 30px;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

.Dictionary form {
  text-align: center;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #3c813c;
  color: rgb(148, 97, 3);
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 6px;
}
